body {
  padding: 30px;
}
footer {
  bottom: 20px;
  position: absolute;
  right: 100px;
  font-size: 10px;
}
label {
  display: inline-block;
}
table {
  border: 2px solid #444;
  margin: 20px;
}
td, th {
  border-right: 1px solid #777;
  padding: 2px 5px;
}

.impar {
  background: #eee;
}